body{
    margin: 0;
}

.container{
    border: 6px solid black;
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    align-content: space-around;
    /*
    align-content -> Aligns lines of content along the cross axis
    and distribute any extra spacing in the parent container.

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: stretch; default
    */
}

.flex-item{
    color:white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1{
    background-color: #B4BF35;
}

.item-2{
    background-color: #B95F21;
}

.item-3{
    background-color: #1C4C56;
}

.item-4{
    background-color: #CfB276;
}

.item-5{
    background-color: #6B0803;
}

.item-6{
    background-color: #1C4C56;
}

.item-7{
    background-color: #B95F21;
}

.item-8{
    background-color: #CfB276;
}

.item-9{
    background-color: #6B0803;
}